@model meals_app.Models.SearchMealByNameResultsModel

@{
    ViewData["Title"] = "MealDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<span>@Html.DisplayFor(model => model.MealDetails)</span>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Meal Name
                </th>
                <th>
                    Preparation Instructions
                </th>
                <th>
                    Ingredients
                </th>
                <th>
                    Measure
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MealName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreparationInstructions)
                    </td>

                    @for (int i = 1; i <= 20; i++)
                    {
                        string ing = "Ingredient" + i;

                        @if (@Html.DisplayFor(modelItem => item.Ingredient1).ToString().Length >= 1)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Ingredient1)
                            </td>
                        }
                    }


                    <td>
                        @Html.DisplayFor(modelItem => item.CountryOfMeal)
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to Search</a>
</div>
